.container {
    max-width: (100%, 1440px);
    margin: auto;
    /* border: 10px solid red; */
}

/* header  */

/* ჰედერის ზედა ნაწილი */
.header_top_div {
    padding: 32px 72px;
    background-color: #2E0230;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_form {
    display: flex;
    align-items: center;
}

.form1_input {
    width: 512px;
    height: 48px;
    padding-left: 16px;
    outline: none;
    border: none;
    border-radius: 8px 0 0 8px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;

}

.header_button {
    width: 48px;
    height: 48px;
    background-color: #01ACA9;
    margin-left: -4px;
    border: none;
    border-radius: 0 8px 8px 0;
}

.fa-magnifying-glass {
    font-size: 16px;
    color: #FFFFFF;

}

.log_in {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.log_in_text {
    padding: 10px;
    border: 1px solid #F30AEA;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}

.fa-cart-shopping {
    padding: 13px;
    color: #FFFFFF;
    background-color: #F30AEA;
    border-radius: 8px;
}

.fa-user {
    display: none;
}

/* ჰედერის ქვედა ნაწილი  */
.fa-bars {
    display: none;
}

.header_bottom_glass {
    display: none;
}

.header_bottom_div {
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01ACA9;
}

.header_bottom_nav {
    padding-bottom: 8px;
}

.header_bottom_ul {
    display: flex;
    column-gap: 96px;
    align-items: center;
}

.header_bottom_list {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}

.active {
    padding-bottom: 8px;
    border-bottom: 1px solid #FFFFFF;
}

/* section  */

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/cover\ image.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1024px;

}

.section_main_div {
    column-gap: 80px;
    padding: 48px 200px;
    background: linear-gradient(0deg, rgba(28, 19, 37, 0.8), rgba(28, 19, 37, 0.8)),
        linear-gradient(0deg, rgba(176, 82, 181, 0.79), rgba(176, 82, 181, 0.79));
    border: 1px solid #B052B5C9;
    border-radius: 20px;
}

.section_form_title {
    font-family: Poppins;
    font-size: 32px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 4px;
    color: #FFFFFF;
    text-shadow: 2px 2px 6px #F90CEFB5;
    text-align: center;
}

.section_form {
    width: 464px;
    margin-top: 80px;
}

.section_form_name_mail {
    display: flex;
    column-gap: 24px;
    align-items: center;
}

.text_email {
    width: 220px;
    padding: 11px 22px;
    border: 1px solid #B052B5;
    border-radius: 8px;
    outline: none;
    background-color: transparent;
    color: #FFFFFF;

}

.section_form_selection_div {
    margin-top: 24px;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form2_labels {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}

#select {
    height: 48px;
    outline: none;
    border: 1px solid #B052B5;
    border-radius: 8px;
    background: transparent;
    color: #FFFFFF;

}

option {
    color: black;
}

.section_form_radio_div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form2_labels {
    margin-bottom: 16px;
}

.radio_div {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.radio {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #F30AEAB5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.radio:checked::before {
    content: "\f00c";
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    color: #FFFFFF;
}

.radio_text {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #B052B5;

}



.message_div {
    margin: 24px 0;
    display: flex;
    flex-direction: column;
    column-gap: 8px;
}

#message_div_text {
    padding: 11px 22px;
    background: transparent;
    outline: none;
    resize: none;
    border: 1px solid #B052B5;
    border-radius: 8px;
    color: #FFFFFF;

}

.checkbox_div {
    display: flex;
    column-gap: 8px;
}

#checkbox {
    appearance: none;
    width: 24px;
    height: 24px;
    border: 2px solid #F30AEAB5;
    border-radius: 2px;
    /* outline: none; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#checkbox:checked::before {
    content: "\f00c";
    font-family: "Font Awesome 6 free";
    font-weight: 900;
    color: #FFFFFF;
}

.section_button {
    width: 100%;
    height: 64px;
    margin-top: 40px;
    background: #F30AEA;
    border: none;
    border-radius: 16px;
    color: #FFFFFF;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    text-align: center;
}

/* Footer  */

footer {
    padding: 48px 72px;
    background: #01ACA9;
    display: flex;
    justify-content: space-between;
}

h4 {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social_media_icons {
    display: flex;
    column-gap: 24px;
}

.adress_texts {
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #FFFFFF;
}

.adress_divs {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.copyright {
    font-family: Poppins;
    font-size: 13px;
    font-weight: 400;
    line-height: 23px;
    color: #F5E0F5;


}