@media(max-width:920px) {

    /* header  */
    .header_bottom_ul {
        column-gap: 60px;
    }

    .header_bottom_list {
        font-size: 16px;
    }
}
@media(max-width:890px){
    /* section  */
    section {
        padding-inline: 14px;
    }
    .section_main_div {
        width: 100%;
        padding-inline: 100px;
    }
    .section_form {
        width: 100%;
    }
}

@media(max-width:850px) {
    /* header  */
    .header_form {
        display:none;
    }
}